body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}

h1 {
    text-align: center;
    color: #5c2483;
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
}

label {
    text-align: center;
    margin-bottom: 1em;
    color: #5c2483;
    font-family: 'DM Sans';
}

input {
    width: 20em;
    height: 3em;
    border-radius: 10em;
    background-color: #e0d1ee;
    color: black;
    padding-left: 1em;
    font-family: 'DM Sans';
    margin: 0 auto;
}

textarea {
    min-width: 20em;
    max-width: 70em;
    width: 50%;
    min-height: 5em;
    max-height: 30em;
    height: 10em;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #e0d1ee;
    color: black;
    font-family: 'DM Sans';
    margin: 0 auto;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-form {
    background-color: #1dac9b;
    color: #ffffff;
    font-family: 'DM Sans';
    border: none;
    height: 3em;
    transition: background-color 0.3s ease;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
    margin-left: 2em;
}

.button-form:hover {
    background-color: #1d1e20;
}

figure {
    display: flex;
    justify-content: center;
    object-fit: cover;
}

@media (max-width: 500px) {
    main {
        margin-left: 2em;
        margin-right: 2em;
    }

    figure {
        height: 10em;
    }

    .button-container {
        display: flex;
        flex-direction: column;
    }
}

@media (width: 344px) {
    fieldset:nth-of-type(3) {
        margin-left: -2em;
    }

    fieldset:nth-of-type(1), fieldset:nth-of-type(2) {
        margin-left: -1em;
    }

    .button-container {
        display: flex;
        flex-direction: column;
    }
}