body {
    background-color: #E7F3E9;
    margin: 0;
    padding: 0;
    color: #5C2483;
}

p {
    font-size: 1.5em;
}

h1 {
    font-size: 2.75em;
}

h6 {
    font-size: 2em;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    min-width: 100%;
    text-align: center;

    h1,
    img {
        margin: 0 10em 2em 10em;

    }
}

.First {
    margin: 0 15em 0 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.First section {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Second {
    background-color: #FFFFFF;
    min-width: 100%;
}

.Second h1 {
    text-align: center;
}

.Third {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em
}

.Third p {
    max-width: 25em;
    text-align: center;
}

.Third section h6 {
    margin-top: 0;
}

.Fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 3em
}

.Fourth p {
    max-width: 25em;
}

.Fourth section h6 {
    margin-top: 0;
}


@media (max-width: 600px) {
    .Title {

        h1,
        img {
            margin: 0 2em 1em 2em;
        }

        img {
            max-width: 15em;

        }
    }

    p {
        width: 10em;
        flex: 0 1 10em;
    }

    img {
        max-width: 10em;
    }

    section {
        img, h6 {
            margin: 1em;
        }
    }

    .Third {

        h6,
        img {
            margin: 0 0 0 4em;
        }

        img {
            max-width: 20em;

        }

        p{
            margin: 0 -6em 0 0;
        }
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .Title {

        h1,
        img {
            margin: 0 2em 1em 2em;
        }

        img {
            max-width: 20em;

        }
    }

    p {
        width: 15em;
        flex: 0 1 20em;
    }

    img {
        max-width: 20em;
    }

    
}